<h1><%= @auction.title %></h1>

<p><%= @auction.details %></p>
<br>
<% if can? :manage, @auction %>
<% end %>
<p>End Date: <%= @auction.end_date %></p>
<p>Reserve Price: <%= @auction.reserve_price %></p>
<p>Current Price: <%= @auction.current_price %></p>
<% if @auction.current_price < @auction.reserve_price %>
  <p>
    Reserve not met
  </p>
  <% else %>
  <p>
    Reserve has been met
  </p>
<% end %>

<div>
      <h2>Bids:</h2>
      <% if @bids.any? %>
          <div>
          <% @bids.each do |bid| %>
            <p><%= number_to_currency(bid.amount) %> on <%= bid.created_at.strftime("%D")%> by <%= bid.user_full_name %></p>
          <% end %>
          </div>
        <% else %>
          <p>No bids yet!</p>
        <% end %>

</div>

<% if can? :manage, @auction %>
  <% if @auction.draft? %>
   <p>Auction is draft<p>
       <%= link_to 'Publish', auction_publishings_path(@auction), method: :post, data: {confirm: 'Are you sure'}%>
   <% elsif @auction.published? %>
     <p>Auction is published<p>

  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if can? :create, @bid %>
  <div>
  <h2>Create Bid: </h2>
    <div>
      <%= simple_form_for [@auction, @bid] do |f| %>
        <%= f.input :amount, as: :string %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
